* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 230px;
  background: #161c22;
  user-select: none;
}

img,
a {
  -webkit-user-drag: none;
}

.logo {
  padding: 20px 20px 10px;
}

.logo img {
  width: 100%;
}

.link {
  display: flex;
  justify-content: center;
  padding: 0 20px 20px;
}

.link a {
  width: 87px;
  height: 47px;
  background: linear-gradient(to bottom, #56ac81, #366d52);
  color: white;
  text-align: center;
  text-decoration: none;
  line-height: 47px;
  font-family: Arial, sans-serif;
  font-weight: bold;
  font-size: 20px;
  border-radius: 34px;
  box-shadow: 0 3px 20px #000000bf;
}

.link a:hover {
  background: linear-gradient(to bottom, #76ffd7, #48ab84);
}

.link a:active {
  background: linear-gradient(to bottom, #050706, #293c36);
}
